<div class="card">
  <div class="card-header">
    <%=@gossip.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=@gossip.content%></p>
      <footer class="blockquote-footer">Ecrit par <%=@user.first_name%>  le  <%=@gossip.created_at%> <br>
      <a href ='/profil/<%=@user.id%>'>Voir le profil de l'auteur</a></footer>
    </blockquote>
  </div>
</div>